<%- include("header") -%>

<div class="box">
  <p><ul class="ul" >
    <li>Initially You are using a common To-do-List, so Don't share your personal  information there.</li>
    <li>To use Your personal To-Do-List please login or SignUp providing your Unique User name and password </li>
    <li>Once You are logged in or Signed Up , You won't be able to use the Common To-Do-List</li>
    <li>your User name Will be displayed at the top</li>
    <li>Hit the (+) icon to add a new item in your list </li>
    <li>click the check box (the small box on the left ) to delete the item when not in use </li>
    <li>Thank You</li>
  </ul></p>
</div>
<%- include("footer") -%>