<%- include("header") -%>

<div class="box">
  <form class="dddd" action="/login" method="post">
    <input type="text" name="uN" placeholder="user Id" autocomplete="off" />
    <input
      type="text"
      name="pass"
      placeholder="Password"
      autocomplete="off"
      maxlength="16"
    />
    <button class="login" type="submit" name="register">login</button>
  </form>
</div>
<%- include("footer") -%>
